@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-rubik: var(--font-rubik);
    --font-heebo: var(--font-heebo);
    --font-concert-one: var(--font-concert-one);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.font-concert {
    font-family: var(--font-concert-one), sans-serif;
}
.font-rubik {
    font-family: var(--font-rubik), sans-serif;
}
.font-heebo {
    font-family: var(--font-heebo), sans-serif;
}

@layer base {
    h1,
    h2,
    h3 {
        @apply font-heebo font-bold;
    }
    p,
    li,
    span,
    a,
    div {
        @apply font-rubik text-gray-800;
    }
}
